# fastapi==0.104.1
# uvicorn==0.24.0
# pydantic==2.5.0
# Core web framework
fastapi==0.115.14
uvicorn==0.35.0
pydantic==2.11.7
starlette==0.46.2

# Data science & ML
numpy==2.2.6
pandas==2.2.3
scikit-learn==1.6.1
scipy==1.15.3
torch
torchaudio
torchvision
transformers==4.53.0
accelerate==1.8.1
huggingface-hub==0.33.1
tokenizers==0.21.2
safetensors==0.5.3
sentencepiece==0.2.0
einops==0.8.1
peft==0.16.0
bitsandbytes==0.46.0

# Utilities
requests==2.32.4
tqdm==4.67.1
python-multipart==0.0.9
pillow==9.0.1
